* {
    box-sizing: border-box;
    
}

body {
    margin: 2px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header, section {
    padding: 20px;
}
p, li {
    line-height: 1.5em;
}

#inspiration {
    background-color: #EFE2BA;
    padding-top: 40px;
    padding-bottom: 40px;
}

#values {
    background-color: #C5CBE3;
    padding-top: 40px;
    padding-bottom: 40px;
}

#tutorials {
    background-color: #C5CBE3;
    padding-top: 40px;
    padding-bottom: 40px;
}

#homework {
    background-color: #EFE2BA;
    padding-top: 40px;
    padding-bottom: 40px;
}